body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(backimg2.jpg) repeat;
    background-size: 100%;
    background-size: cover;
    text-align: center;
}
h1
{
    top: 15%;
    padding-top: 20px;
    font-size: 60px;
    font: outline white;
    color: blueviolet;
    text-shadow: blueviolet;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.box
{
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    color: black;
    background: rgba(253, 142, 123, 0.7);
    text-align: center;
    border-radius: 14px;
}
.box input[type = "text"]
{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 8px 6px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}
.box input[type = "text"]:focus
{
    
    width: 220px;
    height: 20px;
}
.box input[type = "text"]:hover
{
    border: 3px solid white;
    width: 220px;
    height: 20px;
}
.box button
{
    border: 0;
    background-color: rgba(255,99,71,0.7);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box button:hover
{
    opacity: 1;
    background-color: tomato;
    width: 140px;
    height: 50px;
}

.outputColumn
{
    color: white;
    float: center;
    position: absolute; 
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    text-align: center;
    padding-right: 5px;
    
    
}
.outputColumn p{
    background: rgb(138, 43, 226, 0.7);
    padding: 2px;
    border-radius: 14px;
    text-align: center;
}
/* .outputColumn2
{
    color: white;
    float: center;
    position: absolute;
    
    bottom: 30px;
    right: 30%; 
    text-align: center;
    padding-left: 5px;
}
.outputColumn2 p{
    background: rgb(138, 43, 226, 0.6);
    padding: 3px;
    border-radius: 14px;
}
.bb
{
    margin: 100px auto;
}

 */

